*{
	box-sizing: border-box;
}

body{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #222326;
	background-color: #fff;
	font-weight: 400
	margin: 0px;
}

nav{
	background: rgba(0,0,0,0.7);
	width: 100%;
	position: fixed;
	z-index: 100;
}

.logo_spotify{
	width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url("../imag/logo.png");
    background-size: 100%;
}
.menu ul{
	width: 100%;
	height: inherit;
	color: white;
}

.menu ul li{
	padding-top: 15px;
	width: 15%;
	height: inherit;
	display: inline-block;
	list-style-type: none;
	text-align: right;
}


.menu ul li a{
	width: inherit;
	height: inherit;
	text-decoration: none;
	color: white;
}

.menu ul li a:hover{
	color: #1db954;
	transition: .2s all;
}

.separador{
	padding-left: 30px;
}

.fondo{
	   background-color: #f037a5;
    background: linear-gradient(#f037a5 -50%,#fae62d 120%);
}

.tamaño{
	height: 500px;
	text-align: center;
}

.tamañito{
	height: 350px;
	color: white;
	font-weight: bold;
}

.tamañito h1{
	padding-top: 150px;
	font-size: 60px;
}

.boton1 , .boton2{
	margin-top: 20px;
	width: 300px;
	height: 40px;
	border-radius: 500px;
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 1;
    border-radius: 500px;
    min-width: 160px;
    white-space: normal;
	font-weight: bold;
}

.boton1{
	color: #fff;
    background-color: #1db954;
    border-width: 0;
}

.boton1:hover{
	color: #fff;
	background-color: #1ed760;   
	transition: .5s all;
	cursor: pointer;
}

.boton2{
	color: #fff;
	box-shadow: 0 0 0 2px #fff inset;
	background-color: transparent;
}

.boton2:hover{
	text-align: center;
	color: black;
	cursor: pointer;
	background-color: white;
	border: 1px solid transparent;
	transition: .5s all;
}

.fondo2 .container .row{
	padding: 48px 0px;
}

.titulo{
	font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: -.02em;
    line-height: 1.2;
    margin-top: 0;
}
}

.galeria{
	width: 100%;
	margin: auto;
	background-color: blue;
	height: 100%;
}

.galeria img{
	width: 260px;
	height: 260px;
	padding: 0px;
	margin: 0px;
}

.fondo3{
	background-color: #f037a5;
    background: linear-gradient(#fae62d -30%,#f037a5 150%);
    padding: 48px 0;
}

.fondo3 .container aside section ul li {
	list-style-type: none;
}

.devices{ 
	width: 100%;
	margin: auto;
	padding-top: 60px;
	height: inherit;
}

.distancia{
	padding-top: 30px;
}

.fondo5{
	background-color: #f037a5;
    background: linear-gradient(#f037a5 -50%,#fae62d 120%);
}

.fondo5 .container{
	background-image: url(/i/home/hero-burst-easy.svg);
}